@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

::selection {
  background-color: var(--mantine-primary-color-filled);
  color: var(--app-contrast-color);
  -webkit-text-fill-color: var(--app-contrast-color); /* Fix gradient text */
}

body {
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-8)
  );
}

.xterm-screen {
  margin: auto;
}

.terminal.xterm {
  height: 100%;
}