.clickable {
    @mixin hover {
        background-color: var(--mantine-color-default-hover)
    }
}

.toolbarbutton {
    width: 30px;
    height: 30px;
    box-shadow: none !important;

    .toolbarbuttonicon {
        width: 70%;
        height: 70%;
    }
}