.clickable {
    @mixin hover {
        background-color: var(--mantine-color-default-hover)
    }
}

.input-without-outline {
    outline: none;
}

.inputWithoutOutline {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.toolbarbutton {
    width: 30px;
    height: 30px;
    box-shadow: none !important;

    .toolbarbuttonicon {
        width: 70%;
        height: 70%;
    }
}